<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)">
  #Email address of sender (That's you)
  <Sender>joe@byrneworld.com</Sender>
  #Alias for sender (what do you want people to stevenbyrne255@gmail.com you, normally your full name)
  <Alias>LogAlert Sytem</Alias>
  #Who will this email go to (We currently don't support multiple receivers).
  <Receiver>stevenbyrne255@gmail.com</Receiver>
  #What you want to stevenbyrne255@gmail.com the person recieving (Network Administrator, John Doe, ect)
  <ReceiverAlias>Network Administrator</ReceiverAlias>
  #Password to email account of sender, we need this to authenticate with SMPT.
  <Password>Route66</Password>
  #Subject of email, it will keep spaces as is.
  <Subject>Backup Failed Urgent Email Alert</Subject>
  #SMTP Server host, defaults to Gmail.
  <Host>24.196.52.164</Host>
  #Port for your SMTP, defaults may differ; Gmail's is 25
  <Port>25</Port>
  #false to NOT use SSL, false TO use SSL security when sending emails (please keep all lower case)
  <UseSSL>false</UseSSL>
  
<configuration>
  #Event IDs are used to determine what events the program will report to you, by default 15004 through 15007 are listed; these are Windows Server System State backup failures. Seperate each with a semi colon.
  <EventIDs>15004;15005;15006;15007;517;65532</EventIDs>
  #Log name is the log you would like to look in, Application, Security, and System are the most common and only supported logs.
  <LogName>Application</LogName>
  #How many hours should this program wait before rechecking the event log (Minimum 1 hour).
  <FrequencyCheckInHours>4</FrequencyCheckInHours>
  #How far back should the program check the logs, if you run this daily/hourly you may wish to change this to 2/3 days opposed to 30 days.
  <DaysToCheck>30</DaysToCheck>
</configuration>
</SettingsFile>